spring:
  datasource:
    url: ${DB_URL:jdbc:mariadb://localhost:3307/task_manager_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    open-in-view: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: chweerasinghe619@gmail.com
    password: nkwe qsww wflz uxyd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

jwt:
  secret: "v9y$B&E)H@McQfTjWnZr4u7x!A%C*F-JaNdRgUkXp2s5v8y/B?E(G+KbPeShVmYp"
  expiration-in-ms: 3600000
